<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>CheapPiratedMovies</title>
</head>

<body>
    <div id="app">
     <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 50">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">BuyMoviesCheap <i class="fas fa-film"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cheap Clothes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cheap Music</a>
      </li>
    </ul>
   
<span style="color:#007bff;cursor: pointer" class="navbar-text">
      <i class="fas fa-shopping-cart"></i> <span style="color:black">({{amountOf}})</span>
    </span>
    
<div style="overflow-y: auto; max-height: 4600px; height:460px; width:700px" uk-dropdown="delay-hide: 150; animation: uk-animation-slide-top-small; duration: 300">
    <ul class="uk-nav uk-dropdown-nav">
        <div v-if="items.length > 0" class="container ">
            <div style="text-align:center" class="card-group">
  <div class="card">
   
    <div class="card-body">
     
      <p class="card-text"><small class="text-muted">Movie</small></p>
    </div>
  </div>
  <div class="card">
    
    <div class="card-body">
      
      <p class="card-text"><small class="text-muted">Adult</small></p>
    </div>
  </div>
  <div class="card">
   
    <div class="card-body">
     
      <p class="card-text"><small class="text-muted">Child</small></p>
    </div>
  </div>
  <div class="card">
   
    <div class="card-body">
     
      <p class="card-text"><small class="text-muted">Subtotal</small></p>
    </div>
  </div>
  <div class="card">
   
    <div class="card-body">
     
      <p class="card-text"><small class="text-muted">Delete</small></p>
    </div>
  </div>
</div>
        </div>
        <div style="text-align: center" v-else><h1>Your cart is currently empty</h1></div>
        <div class="items container" v-for="(item,index) of items">
            <div class="card-group">
                <div style="width:100%" class="card"> <img v-bind:src="item.image" class="card-img-top" alt="movie">
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5> </div>
                </div>
                <div style="width:100%" class="card">
                    <div v-if="item.adultQuanity != 0" class="card-body">
<!--
                        <input class="updater" style="width:30%" type="number" :value="item.adultQuanity"><br>
                       <button v-on:click="updateQuanity(item.adultQuanity, index, 'adult')" class="btn btn-success">Update</button>
-->
                        <h5 class="card-title cBlack">${{item.adultPrice}} x {{item.adultQuanity}}
                        <i @click="increase(item.childQuanity, index, 'adult')" class="fas fa-arrow-circle-up"></i>
                        <i @click="decrease(item.childQuanity, index, 'adult')" class="fas fa-arrow-circle-down"></i>
                        </h5>
                        <p class="card-text cBlack">Total: ${{calculateTotal(item.adultPrice, item.adultQuanity)}}</p>
                    </div>
                </div>
                <div style="width:100%" class="card">
                    <div v-if="item.childQuanity != 0" class="card-body">
<!--
                       <input class="updater" style="width:30%" type="number" :value="item.childQuanity"><br>
                       <button v-on:click="updateQuanity(item.childQuanity, index, 'child')" class="btn btn-success">Update</button>
-->
                        <h5 class="card-title cBlack">${{item.childPrice}} x {{item.childQuanity}} 
                        <i @click="increase(item.childQuanity, index, 'child')" class="fas fa-arrow-circle-up"></i>
                        <i @click="decrease(item.childQuanity, index, 'child')" class="fas fa-arrow-circle-down"></i>
                        </h5>
                        <p class="card-text">Total: ${{calculateTotal(item.childPrice, item.childQuanity)}}</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="text-align: center">
                        <p class="card-text cBlack">
                        ${{
                        addNums
                        (
                        Number(calculateTotal(item.childPrice, item.childQuanity)), 
                        Number(calculateTotal(item.adultPrice, item.adultQuanity))
                        )
                        }}
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="text-align: center">
                        <p class="card-text">
                            <button v-on:click="removeMovie(index)" class="btn btn-primary">Remove</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container width100" style="text-align:center" v-if="items.length > 0">
            <div class="btn btn-primary width30 m-checkout" v-if="childTotal != 0">Child Subtotal:<br>${{childTotal}}</div>
            <div class="btn btn-primary width30 m-checkout" v-if="adultTotal != 0">Adult Subtotal:<br>${{adultTotal}}</div>
            <div class="btn btn-primary width30 m-checkout">Total:<br>${{totalItem}}</div><br>
            <button style="width:100%" class="btn btn-success">Checkout</button>
        </div>
    </ul>
</div>
    
  </div>
</nav>
        </div>
       <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">We Sell Cheap Pirated Movies</h1>
    <p class="lead">Tired of the ads on 123movies? Buy some movies from CPM!</p>
  </div>
</div>
        <div v-once id="movies"> {{movieCall()}} </div>
        <div class="container flexCards">
            <div v-for="(movie,index) of movies" class="card">
                <div class="card-body d-flex flex-column"> <img v-bind:src="movie.image" alt="">
                    <div class="card-title">{{movie.title}}</div>
                    <p class="card-text">{{movie.description}}</p>
                    <div class="mt-auto" style="text-align: center">
                        <button @click="addTicket(index, movie.title, 'adult')" class="btn btn-primary" v-bind:value="movie.adultTicket">Adult Ticket</button>
                        <button @click="addTicket(index, movie.title, 'child')" class="btn btn-warning">Child Ticket</button>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="items.length > 0" class="container ">
            <div style="text-align:center" class="card-group">
  <div class="card">
   
    <div class="card-body">
     
      <p class="card-text"><small class="text-muted">Movie</small></p>
    </div>
  </div>
  <div class="card">
    
    <div class="card-body">
      
      <p class="card-text"><small class="text-muted">Adult</small></p>
    </div>
  </div>
  <div class="card">
   
    <div class="card-body">
     
      <p class="card-text"><small class="text-muted">Child</small></p>
    </div>
  </div>
  <div class="card">
   
    <div class="card-body">
     
      <p class="card-text"><small class="text-muted">Subtotal</small></p>
    </div>
  </div>
  <div class="card">
   
    <div class="card-body">
     
      <p class="card-text"><small class="text-muted">Delete</small></p>
    </div>
  </div>
</div>
        </div>
        <div class="items container" v-for="(item,index) of items">
            <div class="card-group">
                <div class="card"> <img v-bind:src="item.image" class="card-img-top" alt="movie">
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5> </div>
                </div>
                <div class="card">
                    <div v-if="item.adultQuanity != 0" class="card-body">
<!--
                        <input class="updater" style="width:30%" type="number" :value="item.adultQuanity"><br>
                       <button v-on:click="updateQuanity(item.adultQuanity, index, 'adult')" class="btn btn-success">Update</button>
-->
                        <h5 class="card-title">${{item.adultPrice}} x {{item.adultQuanity}}
                        <i @click="increase(item.childQuanity, index, 'adult')" class="fas fa-arrow-circle-up"></i>
                        <i @click="decrease(item.childQuanity, index, 'adult')" class="fas fa-arrow-circle-down"></i>
                        </h5>
                        <p class="card-text">Total: ${{calculateTotal(item.adultPrice, item.adultQuanity)}}</p>
                    </div>
                </div>
                <div class="card">
                    <div v-if="item.childQuanity != 0" class="card-body">
<!--
                       <input class="updater" style="width:30%" type="number" :value="item.childQuanity"><br>
                       <button v-on:click="updateQuanity(item.childQuanity, index, 'child')" class="btn btn-success">Update</button>
-->
                        <h5 class="card-title">${{item.childPrice}} x {{item.childQuanity}} 
                        <i @click="increase(item.childQuanity, index, 'child')" class="fas fa-arrow-circle-up"></i>
                        <i @click="decrease(item.childQuanity, index, 'child')" class="fas fa-arrow-circle-down"></i>
                        </h5>
                        <p class="card-text">Total: ${{calculateTotal(item.childPrice, item.childQuanity)}}</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="text-align: center">
                        <p class="card-text">
                        ${{
                        addNums
                        (
                        Number(calculateTotal(item.childPrice, item.childQuanity)), 
                        Number(calculateTotal(item.adultPrice, item.adultQuanity))
                        )
                        }}</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="text-align: center">
                        <p class="card-text">
                            <button v-on:click="removeMovie(index)" class="btn btn-primary">Remove</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container width100" style="text-align:center" v-if="items.length > 0">
            <div class="btn btn-primary width100 m-checkout" v-if="childTotal != 0">Child Subtotal:<br>${{childTotal}}</div>
            <div class="btn btn-primary width100 m-checkout" v-if="adultTotal != 0">Adult Subtotal:<br>${{adultTotal}}</div>
            <div class="btn btn-primary width100 m-checkout">Total:<br>${{totalItem}}</div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit-icons.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
<script>
    
    $(document).ready(function () {
        var app = new Vue({
            el: "#app"
            , data: {
                stuff: "Hello World"
                , movies: [

                ]
                , items: [

                ],
                amountOf:0
            , }
            , methods: {
                 updateQuanity: function(item, l, type) {
                    let updater = document.querySelectorAll(".updater")[l];
                     let val = $(updater).val();
                     console.log(val)
                    if(type == "child"){
                this.items[l].childQuanity = val;
                    }else{
                        this.items[l].adultQuanity = val;
                    }
                },
            
                increase: function(item, l, type) {
                    if(type == "child"){
                this.items[l].childQuanity++;
                    }else{
                        this.items[l].adultQuanity++;
                    }
                },
               decrease: function(item, l, type) {
                    if(type == "child"){
                    this.items[l].childQuanity--;
                    }else{
                        this.items[l].adultQuanity--;
                    }
                   
                   if(this.items[l].adultQuanity == 0 && this.items[l].childQuanity == 0){
                       this.items.splice(l, 1);
                       this.amountOf--;
                   }
                },
                addNums:function(num1, num2){
                    return Number(num1 + num2).toFixed(2);
                },
                
                removeMovie: function (item) {
                   this.items.splice(item, 1);
                    this.amountOf--;
                }
                , calculateTotal: function (price, quanity) {
                    return (price * quanity).toFixed(2);
                }
                , movieCall: function () {
                    $.getJSON("https://api.themoviedb.org/3/movie/now_playing?api_key=9d9f46b8451885697e5cf7d1927da80f", function (movie) {
                        for (let i = 0; i < 6; i++) {
                            app.movies.push({
                                title: movie.results[i].title
                                , description: movie.results[i].overview
                                , image: "http://image.tmdb.org/t/p/w200/" + movie.results[i].poster_path
                                , adultTicket: parseFloat((movie.results[i].popularity / 10)).toFixed(2)
                                , childTicket: parseFloat(movie.results[i].popularity / 20).toFixed(2)
                                , adultQuanity: 0
                                , childQuanity: 0
                            });
                        }
                    })
                }
                , addTicket: function (index, movie, ticketType) {
                    let x = 0;
                    let contains = false;
                    for (let i = 0; i < this.movies.length; i++) {
                        if (this.movies[i].title == movie) {
                            x = i;
                        }
                    }
                    console.log(movie)
                    if (this.items.length != 0) {
                        for (let z = 0; z < this.items.length; z++) {
                            if (this.items[z].title.includes(movie) == true) {
                                contains = true;
                            }
                        }
                    }
                    let movieIndex = (this.items.map((el) => el.title).indexOf(movie));
                    if (ticketType == "adult") {
                        if (contains != true) {
                            this.items.push({
                                title: this.movies[x].title
                                , adultQuanity: this.movies[x].adultQuanity += 1
                                , childQuanity: this.movies[x].childQuanity
                                , adultPrice: this.movies[x].adultTicket
                                , childPrice: this.movies[x].childTicket,
                                image: this.movies[x].image
                            });
                            this.amountOf++;
                        }
                        else {
                            this.items[movieIndex].adultQuanity++
                        }
                    }
                    else if (ticketType == "child") {
                        if (contains != true) {
                            this.items.push({
                                title: this.movies[x].title
                                , childQuanity: this.movies[x].childQuanity += 1
                                , adultQuanity: this.movies[x].adultQuanity
                                , adultPrice: this.movies[x].adultTicket
                                , childPrice: this.movies[x].childTicket,
                                image: this.movies[x].image
                            , });
                            this.amountOf++;
                        }
                        else {
                            this.items[movieIndex].childQuanity++
                        }
                    }
                    
                }
            }
            , computed: {
                totalItem: function () {
                    let sum = 0;
                    this.items.forEach(function (item) {
                        sum += Number(item.adultPrice * item.adultQuanity) + Number(item.childPrice * item.childQuanity);
                    });
                    return sum.toFixed(2);
                },
                
                
                childTotal: function () {
                    let sum = 0;
                    this.items.forEach(function (item) {
                        sum += Number(item.childPrice * item.childQuanity);
                    });
                    return sum.toFixed(2);
                },
                adultTotal: function () {
                    let sum = 0;
                    this.items.forEach(function (item) {
                        sum += Number(item.adultPrice * item.adultQuanity);
                    });
                    return sum.toFixed(2);
                }
            }
        })
    })
</script>