.flexCards{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row
}

.card-text{
    font-size:100%
}

.width100{
    width:100%
}

.width50{
width:50%

}

.cBlack{
    color:black
}

.card-title{
    word-break: break-word;
   white-space: pre-wrap;
   -moz-white-space: pre-wrap; 
}

.width30{
width:30%

}
.card{
    width:30%
}

.m-checkout{
    border:2px solid black
}

.text-muted{
    font-size:1.5em
}

.fa-shopping-cart:hover{
    transform: scale(1.1);
}

.jumbotron{
    background-color:white
}

body{
    background-image: url(wood.jpg);
    background-size: cover;
    background-repeat: no-repeat
}

.bg-white{
    background-color: white
}

.container .bg-white{
    padding:2% 7.9%;
    border: 1px solid gray;
    border-radius:5px
}


.items .card-body{
    text-align: center
}

.fa-arrow-circle-up,.fa-arrow-circle-down{
    font-size:1.5em;
    margin-left:4%;
    opacity:0.8;
    cursor: pointer
}

.fa-arrow-circle-up{
    color:green
}

.fa-arrow-circle-down{
    color:red
}

.fa-arrow-circle-down:hover{
    opacity: 1
}

.fa-arrow-circle-up:hover{
    opacity: 1
}